@import "tailwindcss";

body {
  cursor: none;
}

.swiper-no-cursor,
.swiper-no-cursor * {
  cursor: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}


@font-face {
  font-family: "noah-regular";
  src: url("./assets/fonts/noah-regular.otf");
  font-weight: 400;
  font-style: normal;
}

.noah-regular {
  font-family: "noah-regular", sans-serif;
}

@font-face {
  font-family: "noah-bold";
  src: url("./assets/fonts/noah-bold.otf");
  font-weight: 700;
  font-style: normal;
}

.noah-bold {
  font-family: "noah-bold", sans-serif;
}

@font-face {
  font-family: "sogo-light";
  src: url("./assets/fonts/sogo-light.otf");
  font-weight: 300;
  font-style: normal;
}

.sogo-light {
  font-family: "sogo-light", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.map-wrapper { cursor: move; } .map-wrapper svg { cursor: move; }

.France {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.France:hover {
  fill: #BAB6A7 !important;
}

.Canada {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.Canada:hover {
  fill: #BAB6A7 !important;
}

.Mexico {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.Mexico:hover {
  fill: #BAB6A7 !important;
}

[class="United States"] {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

[class="United States"]:hover {
  fill: #BAB6A7 !important;
}

[class="Costa Rica"] {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

[class="Costa Rica"]:hover {
  fill: #BAB6A7 !important;
}

.Brazil {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.Brazil:hover {
  fill: #BAB6A7 !important;
}

[class="South Africa"] {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

[class="South Africa"]:hover {
  fill: #BAB6A7 !important;
}

.Australia {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.Australia:hover {
  fill: #BAB6A7 !important;
}

.Indonesia {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.Indonesia:hover {
  fill: #BAB6A7 !important;
}

.Japan {
  fill: #D1CCBC !important;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.Japan:hover {
  fill: #BAB6A7 !important;
}